<form novalidate (ngSubmit)="saveGamer(gamer) && f.form.valid" #f="ngForm">

  <div class="card">

    <div class="card-header">
      <h3 class="card-title">Create Gamer</h3>
    </div>

    <div class="card-body">

      <!-- Name form control -->
      <div class="form-group">
        <label for="name" class="form-control-label">Full Name</label>
        <input id="name" type="text" name="name" [(ngModel)]="gamer.name" placeholder="Enter Full Name" class="form-control" required #name="ngModel"
          [ngClass]="{'is-invalid': f.submitted && name.invalid}">
        <div class="invalid-feedback" *ngIf="name.invalid && f.submitted">
          <div class="name.errors.required">
            Full Name is required.
          </div>
        </div>
      </div>

      <!-- Email form control -->
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="text" placeholder="Enter Email Address" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" name="email"
          [(ngModel)]="gamer.email" class="form-control" #email="ngModel" [ngClass]="{'is-invalid': email.invalid }"
          [required]="contactPreference.value=='emailId'" email />
        <div *ngIf="email.invalid" class="invalid-feedback">
          <div *ngIf="email?.errors.required">Email is required.</div>
          <div *ngIf="email?.errors.pattern">Invalid Email Address.</div>
        </div>
      </div>

      <!-- Phone number form control -->
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" type="text" placeholder="Enter Phone Number" name="phoneNumber" [(ngModel)]="gamer.phoneNumber" class="form-control"
          #phoneNumber="ngModel" [required]="contactPreference.value=='phone'" [ngClass]="{'is-invalid': phoneNumber.invalid}" />
        <div *ngIf="phoneNumber.invalid" class="invalid-feedback">
          <div *ngIf="phoneNumber?.errors.required">Phone number is required.</div>
        </div>
      </div>

      <!-- Contact preference form control -->
      <div class="form-group">
        <label class="form-control-label">Contact Preference</label>
        <div class="form-control" [ngClass]="{'is-invalid': f.submitted && contactPreference.invalid}">
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" value="phone" name="contactPreference" [(ngModel)]="gamer.contactPreference" required
                #contactPreference="ngModel">
              Phone Number
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" value="emailId" name="contactPreference" [(ngModel)]="gamer.contactPreference"
                required #contactPreference="ngModel">
              Email
            </label>
          </div>
        </div>
        <div class="invalid-feedback" *ngIf="contactPreference.invalid && f.submitted">
          <div class="contactPreference.errors.required">
            Contact Preference is required.
          </div>
        </div>
      </div>

      <!-- Gender form control -->
      <div class="form-group">
        <label class="form-control-label">Gender</label>
        <div class="form-control" [ngClass]="{'is-invalid': f.submitted && gender.invalid}">
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" value="male" name="gender" [(ngModel)]="gamer.gender" required #gender="ngModel">
              Male
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" value="female" name="gender" [(ngModel)]="gamer.gender" required #gender="ngModel">
              Female
            </label>
          </div>
        </div>
        <div class="invalid-feedback" *ngIf="gender.invalid && f.submitted">
          <div class="gender.errors.required">
            Gender is required.
          </div>
        </div>
      </div>

      <!-- Is Active form control -->
      <div class="form-group">
        <div class="form-control" [ngClass]="{'is-invalid': f.submitted && isActive.invalid}">
          <label class="form-check-label">
            <input type="checkbox" value="isActive" name="isActive" [(ngModel)]="gamer.isActive" required #isActive="ngModel">
            Is Active
          </label>
        </div>
        <div class="invalid-feedback" *ngIf="isActive.invalid && f.submitted">
          <div class="isActive.errors.required">
            IsActive is required.
          </div>
        </div>
      </div>

      <!-- Game form control -->
      <div class="form-group">
        <label for="game">Game</label>
        <select id="game" name="game" class="form-control" [(ngModel)]="gamer.game" required #game="ngModel" [ngClass]="{'is-invalid': f.submitted && game.invalid}">
            <option ngValue='0'>--Select One--</option>
          <option *ngFor="let game of games" [ngValue]="game">{{game.gameName}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="game.invalid && f.submitted">
          <div class="game.errors.required">
            Game selection is required.
          </div>
        </div>
      </div>


      <!-- Date of birth form control -->
      <div class="row">
        <div class="form-group col-md-4">
          <label for="dateOfBirth">Date of Birth</label>
          <input id="dateOfBirth" type="text" [(ngModel)]="gamer.dateOfBirth" bsDatepicker [bsConfig]="datePickerConfig"
            name="dateOfBirth" class="form-control" placement="top">
        </div>
      </div>

      <!-- Profile Photo Button Control -->
      <div class="form-group">
        <button type="button" (click)="toggleShowProfilePhoto()" class="btn btn-primary" [disabled]="f.invalid">
          {{showProfilePhoto ? "Hide" : "Show"}} Profile Photo
        </button>
      </div>

      <!-- Profile Photo Image Control -->
      <div class="form-group">
        <img [src]="photoPath" height="200px" width="200px" *ngIf="showProfilePhoto">
      </div>


    </div>

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>

  </div>

</form>

Gamer Details : {{gamer | json}}
