<form novalidate (ngSubmit)="registerUser(signUpDetails) && f.form.valid" #f="ngForm">

  <div class="card">

    <div class="card-header">
      <h3 class="card-title">Sign Up to Gaming World !!!</h3>
    </div>

    <div class="card-body">

      <!-- Username form control -->
      <div class="form-group">
        <label for="username" class="form-control-label">User Name</label>
        <input id="username" type="text" name="username" [(ngModel)]="signUpDetails.username" placeholder="Enter Username"
          class="form-control" required #username="ngModel" [ngClass]="{'is-invalid': f.submitted && username.invalid}">
        <div class="invalid-feedback" *ngIf="username.invalid && f.submitted">
          <div class="username.errors.required">
            Username cannot be blank.
          </div>
        </div>
      </div>

      <!-- Password Group -->
      <div ngModelGroup="passwordGroup" appConfirmPasswordValidator #passwordGroup="ngModelGroup" *ngIf="passwordGroup?.errors.notEqual && !confirmPassword.errors.required"
        [ngClass]="{'is-invalid': confirmPassword.invalid}">

        <!-- Password form control -->
        <div class="form-group">
          <label for="password" class="form-control-label">Password</label>
          <input id="password" type="password" name="password" [(ngModel)]="signUpDetails.password" placeholder="***************"
            class="form-control" required #password="ngModel" [ngClass]="{'is-invalid': f.submitted && password.invalid}">
          <div class="invalid-feedback" *ngIf="password.invalid && f.submitted">
            <div class="password.errors.required">
              Password cannot be blank.
            </div>
          </div>
        </div>

        <!-- Confirm Password form control -->
        <div class="form-group">
          <label for="confirmPassword" class="form-control-label">Confirm Password</label>
          <input id="confirmPassword" type="password" name="confirmPassword" [(ngModel)]="signUpDetails.confirmPassword"
            placeholder="***************" class="form-control" required #confirmPassword="ngModel" [ngClass]="{'is-invalid': f.submitted && confirmPassword.invalid}">
          <div class="invalid-feedback" *ngIf="confirmPassword.invalid && f.submitted">
            <div *ngIf="confirmPassword?.errors.required">
              Confirm Password cannot be blank.
            </div>
            <div *ngIf="confirmPassword?.errors.notEqual">
              Confirm Password do not match with password.
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>

  </div>

</form>
